* {
	margin:0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body{
	background-image: url(fondo-login.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0px 0px;
	background-attachment: fixed;
	}


form {
	margin: auto;
	width: 50%;
	max-width: 500px;
	height: 50%
	max-height: 5000px;
	background-attachment: fixed;
	background: #42aab5;
	opacity: .9;
	padding: 30px;
	border: 10px ;
	
}
h2{
	text-align: center;
	margin-bottom: 20px;
	color: rgba(0,0,0,0.9);
}

input{
	display: block;
	padding: 10px;
	width: 100%;
	margin: 30px 0;
	font-size: 20px;
}

input [type="submit"]{
	background:linear-gradient(#FFDA63, #FF8940);
	border: 0;
	color:brown;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 20px;
	margin-bottom: 0;
}

input [type="submit"]:hover{
	opacity: 1;
}

input [type="submit"]:active{
	transform: scale(0.95);
}

@media (max-width: 480px ){
	form{
		width: 75%
	}
}

@media (max-width: 480px){
	form{
		width:95%;
	}

}
.error {
	color: red;
}

img{
	background-position: center;
	background-attachment: fixed;
	
}
